In [2]:
import pandas as pd

In [4]:
body_measurement_df = pd.DataFrame.from_records((
  (2, 83.82, 8.4),
  (4, 99.31, 16.97),
  (3, 96.52, 14.41),
  (6, 114.3, 20.14),
  (4, 101.6, 16.91),
  (2, 86.36, 12.64),
  (3, 92.71, 14.23),
  (2, 85.09, 11.11),
  (2, 85.85, 14.18),
  (5, 106.68, 20.01),
  (4, 99.06, 13.17),
  (5, 109.22, 15.36),
  (4, 100.84, 14.78),
  (6, 115.06, 20.06),
  (2, 84.07, 10.02),
  (7, 121.67, 28.4),
  (3, 94.49, 14.05),
  (6, 116.59, 17.55),
  (7, 121.92, 22.96),
), columns=("age", "height_cm", "weight_kg"))

      height_cm weight_kg
           mean      mean    max    min
age
2     85.038000   11.2700  14.18   8.40
3     94.573333   14.2300  14.41  14.05
4    100.202500   15.4575  16.97  13.17
5    107.950000   17.6850  20.01  15.36
6    115.316667   19.2500  20.14  17.55
7    121.795000   25.6800  28.40  22.96

In [5]:
body_measurement_df.groupby(by="age").agg({
    'height_cm': 'mean',
    'weight_kg': ['mean', 'max', 'min']
})

      height_cm weight_kg
           mean      mean    max    min
age
2     85.038000   11.2700  14.18   8.40
3     94.573333   14.2300  14.41  14.05
4    100.202500   15.4575  16.97  13.17
5    107.950000   17.6850  20.01  15.36
6    115.316667   19.2500  20.14  17.55
7    121.795000   25.6800  28.40  22.96